[submodule "xmobar-git"]
	path = xmobar-git
	url = https://github.com/jaor/xmobar.git
[submodule "xmonad-contrib-git"]
	path = xmonad-contrib-git
	url = https://github.com/kallisti-dev/filesystem-trees.git
[submodule "xmonad-config"]
	path = xmonad-config
	url = https://github.com/vicfryzel/xmonad-config.git
[submodule "filesystem-trees"]
	path = filesystem-trees
	url = git@github.com:mikefaille/filesystem-trees.git
